/**
 * custom.css - Custom styles
 *
 */

.slide pre code {
    font-family: monospace;
    font-size: .75em;
    line-height: 1.6em;
    z-index: -1;
}

.slide::before {
    z-index: 99;
    opacity: .4;
}

.slide ul,
.slide ul > li {
    margin: 0;
    padding: 0;
}

.slide ul > li::before {
    content: '';
}

.slide ul > li > ul {
    padding-left: 2em;
}
